@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title.</h2>
<h3>Demand your book</h3>

<address>
    Crossover<br />
    <abbr title="Phone">P:</abbr>
    011 11213009
</address>

<address>
    <strong>Author:</strong>   <a href="mailto:AhmadHassanien96@eng-st.cu.edu.eg">AhmadHassanien96@eng-st.cu.edu.eg</a><br />
    <strong>Crossover:</strong> <a href="http://Crossover.com">www.Crossover.com</a>
</address>